.login{
  height: 100vh;
  display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   border:1px solid black;
   
   .left{
     width: 30%;
     background-position: center;
    background-size: 100% 100%;

    img{
      border: 1px solid black;
      width: 100%;
    }
  }
  
  .right{
   display: flex;
   justify-content: center;
   flex-direction: column;
     
   .input{
    padding: 5px 30px;
    border-radius: 10px;
    outline: none;
}
.input::placeholder{
    font-weight: bold;
}

   
   }
}