.top{
    display: flex;
    justify-content: space-between;
}
.btn_add{
height: 30px;
border-radius: 5px;
border: 1px solid black;
text-align: center;
font-weight: 700;
outline: none;
background-color: #ba53e2;
padding: 3px 10px;
cursor: pointer;
transition: .3s all;
}
.btn_add:hover{
    background-color: transparent;
    color: black;
}